* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}
.inl-bk {
  display: inline-block;
}
body {
  height: 100vh;
  margin: 0px;
}
main {
  background-color: rgb(168, 168, 168);
  height: 400px;
  padding: 20px;
  font-size: 0px;
}
.large-column-one {
  background-color: rgb(253, 117, 107);
  height: 100%;
  width: 40%;
  text-align: center;
  line-height: 360px;
  font-size: 60px;
}
.large-column-two {
  width: 60%;
  height: 100%;
  vertical-align: top;
  font-size: 60px;
  padding-left: 20px;
}

.top-string {
  height: 50%;
}

.plate-two{
  text-align: center;
  height: 100%;
  background-color: rgb(177, 221, 111);
  line-height: 170px;
}
.bottom-string {
  height: 50%;
  font-size: 0px;
}

.small-column-one {
  font-size: 60px;
  vertical-align: top;
  width: 50%;
  padding-right: 10px;
  height: 100%;
}

.plate-three {
  background-color: rgb(250, 150, 200);
  text-align: center;
  line-height: 170px;
  height: 100%;
}

.small-column-two {
  padding-left: 10px;
  width: 50%;
  text-align: center;
  height: 100%;
  font-size: 60px;
}

.container-plate-four {
  height: 50%;
}

.plate-four {
  background-color: rgb(156, 100, 197);
  height: 100%;
  line-height: 75px;
}

.pad-top10 {
  padding-top: 10px;
}

.pad-bot10 {
  padding-bottom: 10px;
}